<%--
 -- Copyright 2024 E.J.I.E., S.A.
 --
 -- Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la "Licencia");
 -- Solo podrá usarse esta obra si se respeta la Licencia.
 -- Puede obtenerse una copia de la Licencia en
 --
 --      http://ec.europa.eu/idabc/eupl.html
 --
 -- Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 -- el programa distribuido con arreglo a la Licencia se distribuye "TAL CUAL",
 -- SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 -- Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 -- que establece la Licencia.
 --%>

<%@include file="/WEB-INF/includeTemplate.inc"%>

<!-- Formulario de filtrado -->
<form:form modelAttribute="{{tableName.lower()}}" id="{{tableName}}_filter_form">
	<!-- Barra de herramientas del formulario de filtrado -->
	<div id="{{maint.name}}_filter_toolbar" class="formulario_legend"></div>
	<fieldset id="{{maint.name}}_filter_fieldset" class="rup-table-filter-fieldset">
		<div class="form-row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
			<!-- Campos del formulario de filtrado -->
			{% for column in allColumnsNoPk %}
				{% if column.activate: %}
					{% if column.type == "Text" %}
						<div class="form-groupMaterial col">
						<form:input path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_filter_table"/>
					{% elif column.type == "Textarea" %}				
						<div class="form-groupMaterial col">
						<form:textarea path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_filter_table"/>
					{% elif column.type == "Checkbox" %}
						<div class="checkbox-material col">
						<form:checkbox path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_filter_table"/>							
					{% elif column.type == "Datepicker" %}
						<div class="form-groupMaterial col">
						<form:input path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_filter_table"/>
					{% elif column.type == "Password" %}
						<div class="form-groupMaterial col">
						<form:input path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_detail_table" type="password"/>
					{% else %}
						<div class="form-groupMaterial col">
						<form:input path="{{column.name|snakeToCamel}}" id="{{column.name|snakeToCamel}}_filter_table"/>
					{% endif %}	
					<label for="{{column.name|snakeToCamel}}_filter_table"><spring:message code="${columnProperties.label}"/></label>
					</div>
				{% endif%}
			{% endfor %}
			<!-- Fin campos del formulario de filtrado -->
		</div>
		<!-- Botonera del formulario de filtrado -->
		<div id="{{maint.name}}_filter_buttonSet" class="text-right">
			<!-- Botón de limpiar -->
			<button id="{{maint.name}}_filter_cleanButton" type="button" class="btn-material btn-material-primary-low-emphasis mr-2">
				<i class="mdi mdi-eraser"></i>
				<span><spring:message code="clear" /></span>
			</button>
			<!-- Botón de filtrado -->
			<button id="{{maint.name}}_filter_filterButton" type="button" class="btn-material btn-material-primary-low-emphasis" >
				<i class="mdi mdi-filter"></i>
				<span><spring:message code="filter" /></span>
			</button>
		</div>
	</fieldset>
</form:form>