<%@page pageEncoding="UTF-8" contentType="text/html; charset=UTF-8"%>

<!-- Icono -->
<link rel="shortcut icon" href="${staticsUrl}/{{project_name}}/favicon.ico">

<!-- CSS personalizado -->
<link href="${staticsUrl}/{{project_name}}/styles/{{project_name}}.css" rel="stylesheet" type="text/css" />