  private static final long serialVersionUID = 1L; 

  {% if listPks|length >= 2%}//Clave compuesta{% endif%}
{% for column in columnsDates %}
  private {{ column.DATO_TYPE }} {{ column.name.lower()|snakeToCamel }};{% endfor %}