  private static final long serialVersionUID = 1L;
  {% if listPks|length >= 2%}//Clave compuesta{% endif%}
{% for column in columnsDates %}
  {% if column.DATO_TYPE == 'List' %} private List<{{ column.entidad }}> {{ column.name|snakeToCamel }} = new ArrayList<{{ column.entidad }}>();
{% else %} private {{ column.DATO_TYPE }} {{ column.name|snakeToCamel }};{% endif %}{% endfor %}