 {% for column in allColumns %}
	{% set add_json_property = column.name|snakeToCamel|get_index(1)|is_upper() %}
 	/**
     * Method 'get{{ column.name|toCamelCase }}'.
     *
     * @return {{ column.DATO_TYPE }}
     */	
	{% if add_json_property %}@JsonProperty("{{ column.name|snakeToCamel }}"){% endif %}
	public {{ column.DATO_TYPE }} get{{ column.name|toCamelCase }}() {
		return this.{{ column.name|snakeToCamel }};
	}
	
	/**
	 * Method 'set{{ column.name|toCamelCase }}'.
	 *
	 * @param {{ column.name|toCamelCase }} {{ column.DATO_TYPE }}
	 * @return
	 */
	
	public void set{{ column.name|toCamelCase }}({{ column.DATO_TYPE }} {{ column.name|snakeToCamel }}) {
		this.{{ column.name|snakeToCamel }} = {{ column.name|snakeToCamel }};
	}
 {% endfor %}