 /** 
 * Method '{{tableName}}'.
 */
 public {{tableName}}() {
  }
{% if listPks | length > 0 %}
 /** 
 * Method '{{tableName}}'.
 {% for column in listPks %}* @param {{ column.name|snakeToCamel }}
 {% endfor %}*
 */    
 public {{tableName}}({% for column in listPks %}{{ column.DATO_TYPE }} {{ column.name|snakeToCamel }}{% if loop.index != listPks|length %},{% endif%}{% endfor %}) {
	{% for column in listPks %}this.{{ column.name|snakeToCamel }} = {{ column.name|snakeToCamel }};
  {% endfor %}
 }
 {% endif %}

{% if not constructorEntidad %}
 /** 
 * Method '{{tableName}}'.
 {% for column in columnasDaos %}* @param {{ column.name|snakeToCamel }}
 {% endfor %}*
 */    
 public {{tableName}}({% for column in columnasDaos %}{{ column.DATO_TYPE }} {{ column.name|snakeToCamel }}{% if loop.index != columnasDaos|length %},{% endif%}{% endfor %}) {
	{% for column in columnasDaos %}this.{{ column.name|snakeToCamel }} = {{ column.name|snakeToCamel }};
  {% endfor %}
 }
{% endif %}

 /** 
 * Method '{{tableName}}'.
 {% for column in allColumns %}* @param {{ column.name|snakeToCamel }}
 {% endfor %}*
 */    
 public {{tableName}}({% for column in allColumns %}{{ column.DATO_TYPE }} {{ column.name|snakeToCamel }}{% if loop.index != allColumns|length %},{% endif%}{% endfor %}) {
	{% for column in allColumns %}this.{{ column.name|snakeToCamel }} = {{ column.name|snakeToCamel }};
  {% endfor %}
 }