/* Capa del feedback */
.rup-maint_feedbackUL li{
	margin-left: 2em;
    margin-top: 0.2em;
}
.rup-maint_new {
	background:transparent url('images/toolbar/nuevo.png') no-repeat !important;
	width:14px;
}
.rup-maint_edit {
	background:transparent url("images/toolbar/editar.png") no-repeat !important;
	width:14px;
}
.rup-maint_cancel {
	background:transparent url("images/toolbar/cancelar.png") no-repeat !important;
	width:14px;
}
.rup-maint_delete {
	background:transparent url("images/toolbar/borrar.png") no-repeat !important;
	width:14px;
}
.rup-maint_filter {
	background:transparent url("images/toolbar/filtrar.png") no-repeat !important;
	width:16px;
}
/* Al mantenimiento Links de paginacion */
.rup-maint_linkPaginacionDetalle {
	background:none ;
	border:none ;
	clear:none ;
	cursor:pointer;
	float:right;
	text-decoration:underline;
	color:#0052C7 ;
	font-size:0.88em ;
	padding-right:1.3em ;
}