/*!
 * Copyright 2012 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */
 

/* Contenedor pasos (UL) */
.rup-wizard_stepsDescContainer {
	list-style:none; 
	width:100%; 
	overflow:hidden; 
	margin:0px; 
	padding:0px;
}

/* Paso */
.rup-wizard_stepDesc a{
	cursor: pointer;	
	color: #0052C7;
	float:left; 
	padding:10px; 
    text-decoration: underline;
}
.rup-wizard_stepDesc a:hover {
	text-decoration: none;
}
.rup-wizard_stepDesc a:focus {
	border-style: dotted;
	border-width: thin;
	outline: none; /* evitar borde TAB */ 	
}

/* Paso ACTIVO */
.rup-wizard_stepDesc.current a { 
	color:#000;
	text-decoration: none;
	cursor: default;
}
/* Paso DESHABILITADO */
.rup-wizard_stepDesc.disabled a { 
	color:#D3D3D3;
	text-decoration: none;
	cursor: default;
}
/* Primer PASO */
.rup-wizard_firstStepDesc a { 
}
/* Último PASO */
.rup-wizard_lastStepDesc a { 
}
/* Paso RESUMEN  */
.rup-wizard_summary a { 
}

/* Descripción paso  */
.rup-wizard_stepDesc a {
	font-size: 1.5em; 
	display: block;
}

/* Enlaces Siguiente/Anterior */
.rup-wizard_prev { 
	float:left;
	cursor: pointer;
}
.rup-wizard_next { 
	float:right;
	cursor: pointer;
}

/* Tabs */
.rup-wizard_tabLevel-0 {
	margin-left: 1em;
	color: green;
}
.rup-wizard_tabLevel-1 {
	margin-left: 2em;
	color: red;
}
.rup-wizard_tabLevel-2 {
	margin-left: 2.5em;
	color: blue;
}

.rup-wizard_tabContainerLevel-0 {
	margin-left: 1em;
}
.rup-wizard_tabContainerLevel-1 {
	margin-left: 2em;
}
.rup-wizard_tabContainerLevel-2 {
	margin-left: 2.5em;
}

