/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; z-index: 700 !important;}	
.ui-autocomplete-loading { background: white url('images/rup.ajaxLoader.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
 