/* Capa del feedback */
.rup-feedback {
	border:1px solid #ffea7c;
	background-color:#fffeda;
	background-image: none; /* Evitar imagen por defecto jQuery UI */
	color:#000000;
	overflow:hidden;
	height:1%;
	padding:1em;
}

/* Capa de cierre del feedback (enlace+imagen) */
.rup-feedback_closeLink {
	float:right;
	background-image: url("images/rup.close.png");
	background-repeat: no-repeat;
	background-position: 3.3em;
	padding-right: 1.5em;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.rup-feedback_closeLink:hover {
	background-image: url("images/rup.close_hover.png");
	text-decoration: none;
}

/* Imagen fondo por defecto (valores generales) */
.rup-feedback_image {
	background-repeat: no-repeat;
	background-position: 8px 12px;
	padding-bottom:1em;
	padding-left:4.5em;
	padding-right:0.5em;
	padding-top:1em;
}

/* Imagenes por defecto (url fichero) [ok, alert, error] */
.rup-feedback_image_ok{
	background-image: url("images/rup.ok.png");
}
.rup-feedback_image_alert{
	background-image: url("images/rup.alert.png");
}
.rup-feedback_image_error{
	background-image: url("images/rup.error.png");
}