/*!
 * Copyright 2011 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la «Licencia»);
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, 
 * el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL»,
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

.rup-language_root {
        font-family: Arial,Helvetica,sans-serif;
}

.rup-language_root {
	position: relative;
	width:100%;
	font-size: 0.9em;
	line-height: 2em;
	float: left;
}

.rup-language_root div{
	z-index: 900;
	
}

.rup-language_root a {
	color: #0052C7;
}

.rup-language_root li {
	float: left;
	margin-right: 1em;
	list-style-type: none;
}

.rup-language_root ul {
        margin: 0px;
}

.rup-language_change a {
	background: url("images/rup.dropdown.gif") no-repeat right;
	padding: .2em 2em .2em .5em;
}

.rup-language_close_languages {
	background: url("images/rup.close_hover.png") no-repeat right;
	float: right;
}

.rup-language_language_list a:link {
	text-decoration : none;
}

.rup-language_language_list ul a:link {
	text-decoration : underline;
}

.rup-language_change_option {
	background: url("images/rup.dropdown.gif") no-repeat right;
	padding: .2em 2em .2em .5em;
	background-color: #F7F7F7;
	border-top: 1px solid #ABABAB;
	border-right: 1px solid #ABABAB;
	border-left: 1px solid #ABABAB;
	text-decoration: none;
	color: #000000 !important;
	line-height: 1.5em;
	padding: 0.2em 1.5em 0.2em 0.5em;
	position: absolute;
	text-decoration: none;
	/*top: 5px;*/
	width: 130px;
}

.rup-language_language_list {
	background-color: #F7F7F7;
	border: 1px solid #ABABAB;
	padding: 0.7em 0.5em 0.5em 0.8em;
	position: absolute;
	/*top: 25px;*/
	top: 20px;
	left:28px;
	left:29px;
	width: 170px;
}

.rup-language_language_list ul li {
	display: block !important;
	float: none !important;
	line-height: 1em;
	padding-bottom: 1em;
}

.rup-language_language_list ul li.rup-language_language_list_active a {
	color: #000000 !important;
	font-weight: bold;
	text-decoration: none;
}

.rup-language_language_list ul li a:hover {
	color: #000000 !important;
	font-weight: bold;
	text-decoration: none;
}

.rup-language_hidden {
	visibility: hidden;
}