.ui-tabs .ui-tabs-panel { border-width: 1px;  }

/* Estilo de la imagen de carga de cada pestañas */
.rup-tabs_loading { 
	float:left;
	width: 1.2em;
	height: 1.2em;
	margin-left: 0.3em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	
}

.rup-tabs_loading_img { 
	vertical-align: middle;
	background-image: url("images/rup.ajaxLoader.gif");
	background-position:center center;
	background-repeat:no-repeat;
	float:right;
	width: 1.2em;
	height: 1.2em;
	margin-left: 0.3em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	
}

.rup-tabs_title { 
	float:left;
}