/*!
 * Copyright 2024 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la "Licencia");
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 * el programa distribuido con arreglo a la Licencia se distribuye "TAL CUAL",
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

jQuery(function($) {
{% for column in allColumnsNoPk %} {% if column.activate: %} {% if column.type == "Datepicker" %}
	$("#{{column.name.lower()|toCamelCase}}_detail_table").rup_date();
	$("#{{column.name.lower()|toCamelCase}}_filter_table").rup_date();
{% endif %}	{% endif %}	{% endfor %}
const tableColModels = [
		{% for column in allColumns %}
		{
			name: "{{column.name|snakeToCamel}}",
			index: "{{column.name|snakeToCamel}}",
			editable: {{column.editable}},
		{% if column.type == "Text" %}
			rupType: "combo",
		{% elif column.type == "Autocomplete" %}
			rupType: "autocomplete",
		{% elif column.type == "Datepicker" %}
			rupType: "datepicker",
		{% else %}
			rupType: "date",
		{% endif%}	
			hidden: {{column.hidden}}
		}{% if loop.index != allColumns|length %},{% endif%}
		{% endfor %}
	];

	$("#{{maint.name}}").rup_table({
		primaryKey: "{{maint.primaryKey}}",
		colModel: tableColModels,
		{% if maint.loadOnStartUp %}
		loadOnStartUp: true,
		{% else %}
	    loadOnStartUp: false,
		{% endif %}
		colReorder: {{ '{' }}{% if maint.multiselection %}fixedColumnsLeft: 1{% endif %}{{ '}' }},
		order: [
			[{{maint.order.sidx}}, {{maint.order.sord}}]
		],
        {% if maint.filter != false: %}
		filter: {
  	  		id: "{{maint.name}}_filter_form",
  	  		filterToolbar: "{{maint.name}}_filter_toolbar",
  	  		collapsableLayerId: "{{maint.name}}_filter_fieldset"
     	},
     	{% else %}
     	filter: "noFilter",
     	{% endif %}
     	{% if maint.isMaint %}
     		{% if maint.type == "DETAIL" %}
     	formEdit: {
     		titleForm: jQuery.rup.i18nParse(jQuery.rup.i18n.base, "rup_table.edit.editCaption"),
        	detailForm: "#{{maint.name}}_detail_div",
					{% if not maint.detail.requestData %}
	    	loadFromModel: true,
	        		{% endif %}
        			{% if maint.clientValidation %}
				validate: { 
    					rules: {
								{% for column in allColumnsNoPk %}
									{% if maint.primaryKey and not column.name in maint.primaryKey %}
    								"{{column.name.lower()|toCamelCase}}": {
							required: {{column.requiredEditRules}},
										{% if column.typeEditRules %}
											{% if column.typeEditRules == "number" %}
							number: true,
							min: {{column.minValueEditRules}},
							max: {{column.maxValueEditRules}}
											{% elif column.typeEditRules == "integer" %}
							integer: true
											{% elif column.typeEditRules == "email" %}
							email: true
											{% elif column.typeEditRules == "url" %}
							url: true
											{% elif column.typeEditRules == "date" %}
							date: true
											{% elif column.typeEditRules == "time" %}
							time: true
											{% endif %}
										{% endif %}
									{% endif %}	
							}{% if not loop.last %},{% endif %}
								{% endfor %}
    							}
    						}
    				{% endif %}
    				},
    		{% endif %}
    		{% if maint.type == "INLINE" %}
    	inlineEdit: {
				activate: true,
    				{% if maint.clientValidationMaint %}
				validate: { 
    				rules: {
								{% for column in allColumnsNoPk %}
									{% if maint.primaryKey and not column.name in maint.primaryKey %}
    								"{{column.name.lower()|toCamelCase}}": {
					required: {{column.requiredEditRules}},
										{% if column.typeEditRules %}
											{% if column.typeEditRules == "number" %}
					number: true,
					min: {{column.minValueEditRules}},
					max: {{column.maxValueEditRules}}
											{% elif column.typeEditRules == "integer" %}
					integer: true
											{% elif column.typeEditRules == "email" %}
					email: true
											{% elif column.typeEditRules == "url" %}
					url: true
											{% elif column.typeEditRules == "date" %}
					date: true
											{% elif column.typeEditRules == "time" %}
					time: true
											{% endif %}
										{% endif %}
									{% endif %}
							}{% if not loop.last %},{% endif %}
								{% endfor %}
    							}
    						}
    				{% endif %}
    				},
    		{% endif %}
    	{% endif %}
		{% if maint.multiSelectMaint %}
		multiSelect: {
       		style: "multi"
   		},
   		{% else %}
   		select: {
       		activate: true
   		},
		{% endif %}
		{% if maint.search %}
		seeker: {
			activate: true
		},
		{% endif %}
		{% if maint.buttons %}
		buttons: {
			activate: true
				{% if not maint.isMaint %}
				,blackListButtons : ["addButton", "editButton", "cloneButton", "deleteButton"]
				{% endif %}
				{% if not maint.contextMenu %}
				,contextMenu: false
				{% endif %}
		}
		{% endif %}		
	});
});
