<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>{{maint.title}} Includes</title>
    <script th:src="${staticsUrl}+@{//{{proyectName}}/scripts/{{proyectWar}}/{{alias}}.js}" type="text/javascript"></script>
</head>
<body>
</body>
</html>