<%--
 -- Copyright 2024 E.J.I.E., S.A.
 --
 -- Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la "Licencia");
 -- Solo podrá usarse esta obra si se respeta la Licencia.
 -- Puede obtenerse una copia de la Licencia en
 --
 --      http://ec.europa.eu/idabc/eupl.html
 --
 -- Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 -- el programa distribuido con arreglo a la Licencia se distribuye "TAL CUAL",
 -- SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 -- Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 -- que establece la Licencia.
 --%>

<%@include file="/WEB-INF/includeTemplate.inc"%>

<h2 class="title">{{titleMaint}}</h2>
{% if filterMaint == true: %}
<jsp:include page="includes/{{nameMaint}}FilterForm.jsp"></jsp:include>
{% endif%}

<table id="{{nameMaint}}" class="tableFit table-striped table-bordered table-material" 
	data-url-base="{{urlBase.lower()|toCamelCase}}"
	data-filter-form="#{{nameMaint}}_filter_form">
    <thead>
        <tr>
        	{% for column in allColumnsNoPk %}
			<th data-col-prop="{{column.name.lower()|toCamelCase}}" data-col-sidx="{{ column.name.upper()}}" data-col-type="{{ column.type}}">
				<spring:message code="{{column.name.lower()|toCamelCase}}"/>
			</th>

            {% endfor %}
        </tr>
    </thead>
</table>
{% if filterMaint == true and typeMaint == "DETAIL": %}
<jsp:include page="includes/{{nameMaint}}Edit.jsp"></jsp:include>
{% endif%}