/*!
 * Copyright 2024 E.J.I.E., S.A.
 *
 * Licencia con arreglo a la EUPL, Versión 1.1 exclusivamente (la "Licencia");
 * Solo podrá usarse esta obra si se respeta la Licencia.
 * Puede obtenerse una copia de la Licencia en
 *
 *      http://ec.europa.eu/idabc/eupl.html
 *
 * Salvo cuando lo exija la legislación aplicable o se acuerde por escrito,
 * el programa distribuido con arreglo a la Licencia se distribuye "TAL CUAL",
 * SIN GARANTÍAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas.
 * Véase la Licencia en el idioma concreto que rige los permisos y limitaciones
 * que establece la Licencia.
 */

jQuery(function($) {
	{% for column in allColumnsNoPk %}
	{% if column.activate != false: %}
		{% if column.type == "Datepicker" %}
	$("#{{column.name.lower()|toCamelCase}}_detail_table").rup_date();
	$("#{{column.name.lower()|toCamelCase}}_filter_table").rup_date();
		{% endif %}
	{% endif %}
	{% endfor %}
const tableColModels = [
		{% for column in allColumns %}
		{
			name: "{{column.name.lower()|toCamelCase}}",
			index: "{{column.name.lower()|toCamelCase}}",
			editable: {{column.editable}},
		{% if column.type == "Text" %}
			rupType: "combo",
		{% elif column.type == "Autocomplete" %}
			rupType: "autocomplete",
		{% elif column.type == "Datepicker" %}
			rupType: "datepicker",
		{% else %}
			rupType: "datepicker",
		{% endif%}	
			hidden: {{column.hidden}}
		}{% if loop.index != allColumns|length %},{% endif%}
		{% endfor %}
	];

	$("#{{nameMaint}}").rup_table({
		colReorder: {
			fixedColumnsLeft: 1
		},
		colModel: tableColModels,
		primaryKey: "{{maint.primaryKey}}",
        {% if maint.filterMaint != false: %}
		filter: {
  	  		id: "{{nameMaint}}_filter_form",
  	  		filterToolbar: "{{nameMaint}}_filter_toolbar",
  	  		collapsableLayerId: "{{nameMaint}}_filter_fieldset"
     	},
     	{% else %}
     		filter: "noFilter",
     	{% endif %}
     	{% if maint.isMaint %}
     		{% if maint.typeMaint == "DETAIL" %}
     			formEdit: {
     				titleForm: jQuery.rup.i18nParse(jQuery.rup.i18n.base, "rup_table.edit.editCaption"),
        			detailForm: "#{{nameMaint}}_detail_div",
        			{% if maint.clientValidationMaint %}
						validate: { 
    						rules: {
								{% for column in allColumnsNoPk %}
									{% if maint.primaryKey and not column.name in maint.primaryKey %}
    								"{{column.name.lower()|toCamelCase}}": {
										required: {{column.requiredEditRules}},
										{% if column.typeEditRules %}
											{% if column.typeEditRules == "number" %}
												number: true,
												min: {{column.minValueEditRules}},
												max: {{column.maxValueEditRules}}
											{% elif column.typeEditRules == "integer" %}
												integer: true
											{% elif column.typeEditRules == "email" %}
												email: true
											{% elif column.typeEditRules == "url" %}
												url: true
											{% elif column.typeEditRules == "date" %}
												date: true
											{% elif column.typeEditRules == "time" %}
												time: true
											{% endif %}
										{% endif %}
									{% endif %}	
									}{% if not loop.last %},{% endif %}
								{% endfor %}
    							}
    						}
    				{% endif %}
    				}
    		{% endif %}
    		{% if maint.typeMaint == "INLINE" %}
    			inlineEdit: {
    				{% if maint.clientValidationMaint %}
						validate: { 
    						rules: {
								{% for column in allColumnsNoPk %}
									{% if maint.primaryKey and not column.name in maint.primaryKey %}
    								"{{column.name.lower()|toCamelCase}}": {
										required: {{column.requiredEditRules}},
										{% if column.typeEditRules %}
											{% if column.typeEditRules == "number" %}
												number: true,
												min: {{column.minValueEditRules}},
												max: {{column.maxValueEditRules}}
											{% elif column.typeEditRules == "integer" %}
												integer: true
											{% elif column.typeEditRules == "email" %}
												email: true
											{% elif column.typeEditRules == "url" %}
												url: true
											{% elif column.typeEditRules == "date" %}
												date: true
											{% elif column.typeEditRules == "time" %}
												time: true
											{% endif %}
										{% endif %}
									{% endif %}
									}{% if not loop.last %},{% endif %}
								{% endfor %}
    							}
    						}
    				{% endif %}
    				}
    		{% endif %}
    	{% endif %}
		{% if maint.multiSelectMaint %}
		    multiSelect: {
       			style: "multi"
   			},
   		{% else %}
   			select: {
       			activate: true
   			},
		{% endif %}
		{% if maint.searchMaint %}
			seeker: {
				activate: true
			},
		{% endif %}
		{% if maint.toolBarButtonsMaint %}
			buttons: {
				activate: true
				{% if not maint.isMaint %}
					,blackListButtons : ["addButton", "editButton", "cloneButton", "deleteButton"]
				{% endif %}
				{% if not maint.contextMenuMaint %}
					,contextMenu: false
				{% endif %}
			},
		{% endif %}
		
	});
});
