<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:spring="http://www.thymeleaf.org/thymeleaf-spring5"
      xmlns:form="http://www.thymeleaf.org/thymeleaf-spring5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div th:with="staticsUrl=${T(com.ejie.x38.util.StaticsContainer).staticsUrl}">
        <!-- Aquí puedes incluir el contenido que necesites -->
    </div>
</body>
</html>